@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Party List</h2>
        <p>
            @foreach(string key in PartyTracker.Keys) {
                <a href="/Home/Party/@key">@key.ToString()</a>
            }
        </p>
    </div>
    
</div>