@model SharpStreamServer.PartyServer

<h2>Test Party</h2>
<img src="~/Content/albumart.png" class="playerClass"/>

<div style="display: none;">
    <div id="data-key">
        @Model._Key
    </div>
    @Html.ActionLink("ALink", "PullChunk", "API")
</div>

<script src="~/tsScripts/compiled/StreamListener.js"></script>
@if(User.Identity.Name == Model._Key)
{
    @Html.ActionLink("Stop Party", "StopParty")
}